.bg{
    height: 100vh;
    background: linear-gradient(170deg, #FFD370 50%, transparent 50%) center center / 100% 100%, right center / auto 100%;
    font-family: 'Noto Sans TC';
    h1{
        font-weight: bold;
        font-size: 48px;
        color: #333333;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
    }
}

.input-save{
    max-width: 500px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    position: relative;;
    .text-todo{
        width: 500px;
        height: 48px;
        font-size: 16px;
        padding: 25px;
        letter-spacing: 0.7px;
        background: #FFFFFF;
        border: none;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
        border-radius: 10px;
        outline: none;
    }
    .btn-add{
        padding: 11px 10px 10px 10px;
        border: none;
        color: #fff;
        background: #333333;
        font-size: 32px;
        line-height: 20px;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        right:5px;
    }
}
.wrap{
    max-width: 500px;
    font-size: 16px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 0 auto;
    .filter{
        display: flex;
        justify-content: center;
        .active{
            color:#333333;
            border-bottom: 2px solid #333333;
            font-weight: bold;
        }
        input{
            font-family: 'Noto Sans TC';
            font-weight: regular;
            width: 33.33%;
            border: none;
            border-bottom: 2px solid #efefef;
            color: #9f9a91;
            font-size: 14px;
            padding: 16px;
            background: none;
            outline: none;
            &:hover{
                cursor: pointer;
                background: rgba(0,0,0,0.1);
                border-radius: 7px 7px 0px 0px;
            }
        }
    }
    .done{
        // 不太知道應該要怎麼設定，這邊無法改變check-BOX框的顏色 Orz...
        input{
            border: 2px solid #FFD370;
        }
        p{
            color: rgba($color: #333, $alpha: 0.3);
            text-decoration: line-through;
        }
    }
    .todo-content{
        padding: 25px;
        li{
            margin-bottom: 18px;
            input{
                margin-right: 10px;
                width: 15px;
                height: 15px;
                border: 1px solid #333333;
                cursor: pointer;
            }
        }
        p{
            font-size: 16px;
            display: inline-block;
            padding-bottom: 13px;
            border-bottom: 1px solid #9f9a91;
            width: 90%;
        }
        .cross{
            cursor: pointer;
        }
    }
}
.footer{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.7px;
    padding: 3.8%;
    input{
        background: none;
        border: none;
        color: #9F9A91;
        letter-spacing: 0.7px;
        cursor: pointer;
    }
}